*{
    margin: 0%;
    padding: auto;
    box-sizing: content-box;
    font-family: fantasy;}
nav {
    display:flex;
    align-items:center;
    justify-self:space-between;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 45px;
}
 .h1{
    text-align: center;
    text-decoration:blueviolet;
}
*hero{
    height: auto;
width: auto;
background-color: blueviolet;
}
